$superfadedblue: #d7e7fc;
$fadedblue: #95c0fa;
$lightblue: #7babec;
$neonblue: #3386f7;
$tpblue: #1d4d8f;
$navy: #163764;
$midnight: #172538;
$red: #f62929;
$fadedgray: #cecfd1;
$lightgray: #8a8c8e;
$gray: #616264;
$darkgray: #4a4b4c;
:export {
  tpblue: $tpblue;
  neonblue: $neonblue;
  lightgray: $lightgray;
}